@CHARSET "UTF-8";
body{
	font-family:"微软雅黑"  "Helvetica Neue",Tahoma,Helvetica,Arial,sans-serif;
	font-size: 14px;
}
.f-left{
  float: left;
}
.f-right{
  float: right;
}
.clear-b{
  clear: both;
}
.c-fix{
  zoom:1;
}
.c-fix:after{
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  line-height: 0;
  overflow: hidden;
}
