body{
  font-family:"Helvetica Neue",Helvetica,STheiti,微软雅黑,黑体,Arial,Tahoma,sans-serif,serif;
  font-size: 14px;
  margin: 0;
  padding:0;
  background: url("../img/paper.jpg") repeat scroll 0 0 #FAFAF2;
 
}
.black-color{
  color: black;
}
.navbar-header .navbar-inner{
  border-radius:0;
}
a.color-white:hover [class*="icon-"]{
  background-image:url("http://lib.sinaapp.com/js/bootstrap/2.2.1/img/glyphicons-halflings.png");
}
a.color-black:hover [class*="icon-"]{
  background-image: url("http://lib.sinaapp.com/js/bootstrap/2.2.1/img/glyphicons-halflings-white.png");
}

/*container*/
.stack-content{
  width: 80%;
  margin: 22px auto 0;
}

/* footer */
.stack-footer .btn-link{
  padding-right: 0;
  padding-left: 0;
}
.footer-right{
  text-align: right;
}
.browser-support img{
  width: 32px;
  height: 32px;
}
.line{
  height: 31px;
  width: 590px;
  padding: 0;
  margin: 0 auto;
  background: url("../img/line.png") no-repeat scroll left bottom transparent;
}

.doc .title{
    color: #19558d;
}
.doc,.side{
   margin-bottom: 23px;
   padding: 30px;
   border-radius:6px;
   background:  #FFF;
   box-shadow: 0 1px 3px rgba(34, 25, 25, 0.5);
   -moz-box-shadow: 0 1px 3px rgba(34,25,25,0.5);
   -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.5);
}
.side{
  margin-bottom: 30px;
  padding: 10px 10px 15px;
}
.side-title{
  border-bottom: 1px solid #efefef;
  margin-bottom: 3px;
  padding-left: 10px;
  height: 20px;
  line-height: 20px;
  vertical-align: bottom;
  font-weight: bold;
}
.site-body{
  padding: 2px;
}
.site-body li{
  border-bottom: 1px dashed #C6C6C6;
  margin-bottom: 4px;
  padding-left: 4px;
}
.side-end{
  text-align: right;
  color: black;
}

.veil-div{
  position: absolute; 
  width: 100%;
  height: 100%;
  opacity: 0.5;
  filter: alpha(opacity=50);
  top: 0;
  left: 0;
  background-color: black;
  position: fixed !important;
  z-index: 997;
}

.login-dialog{
  position: fixed;
  z-index: 999;
  top: 50%;
  left: 50%;
  border-radius: 3px;
  border: 7px solid rgba(0, 0, 0, 0.5);
}
.login-content{
  background: #F9F9F9;
  padding: 25px 30px;
  border: 1px solid black;
}
.close-btn{
background: url("../img/sprite.png");
display: block;
width: 29px;
height: 29px;
background-position: -244px -105px;
position: absolute;
top: -15px;
right: -15px;
z-index: 100;
cursor: pointer;
}
.padding-zero{
  padding: 0;
}