<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE configuration  
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="user" type="me.sevenstack.web.model.User" />
		<typeAlias alias="post" type="me.sevenstack.web.model.Post" />
		<typeAlias alias="comment" type="me.sevenstack.web.model.Comment" />
		<typeAlias alias="tag" type="me.sevenstack.web.model.Tag" />
		<typeAlias alias="userPostFavorite" type="me.sevenstack.web.model.UserPostFavorite"/>
	</typeAliases>
	<environments default="dev">
		<environment id="dev">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${db.driver}" />
				<property name="url" value="${db.url}" />
				<property name="username" value="${db.username}" />
				<property name="password" value="${db.password}" />
				<!-- 链接问题 -->
				<!-- property name="autoReconnect" value="true"/ -->
			</dataSource>
		</environment>
		<environment id="prd">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${db.driver}" />
				<property name="url" value="${db.url}" />
				<property name="username" value="${db.username}" />
				<property name="password" value="${db.password}" />
				<!-- 链接问题 -->
				<property name="poolPingQuery" value="SELECT 1" />
				<property name="poolPingEnabled" value="true" />
			</dataSource>
		</environment>
		<environment id="test">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://localhost:3306/bigdata" />
				<property name="username" value="root" />
				<property name="password" value="root" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="me/sevenstack/web/model/User.xml" />
		<mapper resource="me/sevenstack/web/model/Post.xml" />
		<mapper resource="me/sevenstack/web/model/Comment.xml" />
	</mappers>
</configuration> 